<mat-card>
  <form #recomendacaoForm="ngForm">
  <mat-form-field
      appearance="fill">
      <mat-label>Digite a recomendação</mat-label>
      <input
          autocomplete="off"
          matInput
          type="text"
          [ngModel]="recomendacao?.descricao"
          name="descricao"
          required
          minlength="3"
          />
      <button
          *ngIf="true"
          matSuffix
          mat-icon-button
          type="reset"
          >
          <mat-icon>close</mat-icon>
      </button>
      <mat-error>Pelo menos 3 caracteres</mat-error>
  </mat-form-field>
  <button mat-raised-button (click)="onSalvarRecomendacao(recomendacaoForm)" color="primary">Salvar</button>
  <button id="voltar" mat-raised-button (click)="goBack()" color="warn">Voltar</button>
</form>
</mat-card>
